<div class="entry round">
   <div class="workout">
      <%= workout_session.description %>
   </div>
   <div class="workout_date">
      <%= time_ago_in_words(workout_session.workout_date) %> ago
   </div>
   
   <%= render workout_session.technique_repetitions %>
   
<%= link_to "delete", workout_session, :method => :delete, :confirm => "Delete?", :title => "yo" %>   
</div>
