<div class="tagcloud round">
    <% tag_cloud @tags, %w(tagcloud1 tagcloud2 tagcloud3 tagcloud4 tagcloud5 tagcloud6) do |name, count, css_class| %>
      <%= link_to name, { :controller => "tags", :action => "show", :id => name }, :class => css_class %>
      (<%= count %>)&nbsp; &nbsp; &nbsp;
    <% end %>    
</div>
