<tr>
   <td class="promotion" valign="top">
      <span class="rank_heading"><%= promotion.rank %></span>
      <br />
      <span class="style_subheading"><%= promotion.style.name %></span>
   </td>
   <td valign="top">
      <span class="timestamp">
       <%= promotion.promotion_date %> 
      </span>
   </td>
</tr>