<tr>
   <td class="promotion">
      <span class="rank"><%= promotion.rank %></span>
   </td>
   <td>
      <span class="timestamp">
       <%= promotion.promotion_date %> 
      </span>
   </td>
</tr>